@import "bulma.min.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.25rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #app {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 85%;
  margin: auto;
}

.left-navigation-container {
  position: absolute;
  top: 50%;
  background-color: rgb(60%, 60%, 60%, .8);
  height: 40px;
}

.right-navigation-container {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: rgb(60%, 60%, 60%, .8);
  height: 40px;
}

.navigation-arrow-icon {
  max-width: 100%;
  max-height: 100%;
  padding: 2px;
}

.loading-image {
  width: 100%;
  aspect-ratio: 1;
}

.loading-image.red {
  background-color: rgba(73, 12, 22, 0.22);
}

.loading-image.blue {
  background-color: rgba(10, 10, 89, 0.16);
}

.loading-image.green {
  background-color: rgba(8, 75, 10, 0.16);
}
